.split {
  display: flex;
  flex-direction: row;
  gap: 3px;
}


.gutter {
  background-color: #1a1a1a;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-left: 3px;
}

.gutter.gutter-horizontal:hover {
  background-color: #0a84ff;
  max-width: 4px;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  max-height: 100%;
  max-width: 3px;
}


@media (max-width: 48rem) {
  .split {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
    max-width: 100vw !important;
  }

  .split > div {
    width: 100% !important;
    min-width: 100% !important;
  }

  .gutter {
    display: none !important;
  }
}
