@import "tailwindcss";

body {
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
 
}


/* Scrollbar base */
::-webkit-scrollbar {
  width: 12px;
}

/* Track background */
::-webkit-scrollbar-track {
  background: #2b2b2b;
  border-radius: 6px;
  position: relative;
}

/* Scroll thumb */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 6px;
  /* This creates invisible spacing that keeps the thumb between triangles */
  box-shadow: 
    inset 0 10px #2b2b2b,
    inset 0 -10px #2b2b2b;
}

/* Top triangle (indicator) */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='10'><polygon points='6,0 12,10 0,10' fill='%23888'/></svg>") no-repeat center;
  height: 10px;
  background-color: #2b2b2b;
}

/* Bottom triangle (indicator) */
::-webkit-scrollbar-button:single-button:vertical:increment {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='10'><polygon points='0,0 12,0 6,10' fill='%23888'/></svg>") no-repeat center;
  height: 10px;
  background-color: #2b2b2b;
}

/* Optional hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}


/* Hide scrollbar (for Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar (for Firefox) */
.scrollbar-hide {
  scrollbar-width: none;
}

.ctm-st {
  background-image: linear-gradient(to right, violet,blue);
  color: transparent;
  -webkit-background-clip: text;
}

.gradient-icon {
  stroke: url(#gradient); /* for line icons */
  stroke-width: 2;
}

.recharts-bar-rectangle:focus,
.recharts-bar-rectangle:active,
.recharts-wrapper:focus,
.recharts-wrapper:active {
  outline: none !important;
  stroke: none !important;
}


@theme {
  --color-dark: #1a1a1a;
  --breakpoint-el: 1000px;
  --animate-loading: pulse-scale 1.2s infinite ease-in-out;
  --color-problemdark: #262626;
  --color-green: #212121;
  --color-grey: #333333;
  --color-textdarkish: #fff9;
  --color-greydark: #333333;
  --color-bordergrey: #4a4a4a;
  --color-resizerPanel: #0a84ff;
  --color-darkblue : #21374d;
  --color-settingeditorbg : #383838;
  --color-textgreyish : #c2c2c2;
  --color-buttongreybg : #474747;
  --color-errorbackground : #362b2a;

  @keyframes pulse-scale {
    {
      "0%, 80%, 100%": { transform: "scale(0.75)", opacity: "0.6" },
      "40%": { transform: "scale(1.25)", opacity: "1" }
    }
  }
}
